name: deploy
on:
  push:
    branches: [ master ]
#  schedule:
#    - cron: '0 0 * * *' # Everyday at 12am

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: ${{ secrets.SSH_PORT }}
        command_timeout: 200m
        script: |
          cd /root
          bash export_image.sh
          bash update.sh
          
